:root {
    --body-bg: #242423;
    --primary: 221, 221, 221;
    --contrast-primary: 0, 0, 0;
    --color: 221, 221, 221;
    --filled: 0, 0, 0;
    --contrast-filled: 221, 221, 221;
    --secondary: 63, 199, 242;
    --border-alpha: 0.35;
}

@font-face {
    font-family: 'DosisBold';
    /* Give a name to your font */
    src: url('Dosis-Bold.ttf');
    /* Path to your font file */
}

@font-face {
    font-family: 'DosisMedium';
    /* Give a name to your font */
    src: url('Dosis-Medium.ttf');
    /* Path to your font file */
}

@media (max-width: 768px) {
    .title-medium img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 769px) {
    .title-medium img {
        width: 30%;
        height: auto;
    }
}

body,
.container,
.hero-body
 {
    background-color: #feffff;
    color: #0D0D0D;
    /* color: #0D0Dff; */
}

.footer {
    background-color: #f7fbfe;
    padding: 0.75rem 1rem;
}

.title {
    font-family: 'DosisBold', sans-serif;
    font-size: calc(16px + 9vw);
    /* Starts at 16px and grows with the viewport, adjust as needed */
}

.subtitle {
    font-family: 'DosisMedium', sans-serif;
    /* Fallback to sans-serif if the custom font can't be loaded */
}

.guideImages {
    max-width: 70%;
    height: auto;

}

.title-medium {
    margin-bottom: 50px !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Override Bulma's dark mode variables with light mode values */
        --bulma-background: #ffffff;
        --bulma-text: #363636;
        /* Add more variables as needed */
    }

    /* Your additional overrides for specific elements if Bulma's variables are not enough */
    body {
        background-color: var(--bulma-background);
        color: var(--bulma-text);
    }
}

/* Ensure that the carousel container does not exceed the width of its parent */
.caro_center {
    overflow: hidden;
    /* Prevents any part of the carousel from overflowing */
}


/* Container for the iframe to ensure it is responsive */
.carousel-youtube {
    position: relative;
    width: 100%;
    /* Full width of the carousel item */
    padding-top: 56.25%;
    /* Aspect ratio for 16:9 screens */
    overflow: hidden;
    /* Hides anything outside this area */
}

/* Styling the iframe itself */
.carousel-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-section {
    /* padding-left: 48px; */
    padding-bottom: 0;
    padding-top: 0;
}


.content ul {
    list-style-type: square;
}

.custom-gumroad-button {
    background-color: rgba(var(--primary)); /* Light background on hover */
    font-size: 1rem;
    line-height: 1.5;
    padding: .75rem 2rem;
    border: solid .0625rem rgba(var(--color), var(--border-alpha));
    color: black;
    border-radius: .25rem;
    margin: 4px;
    
    /* font-family: 'Avenir', 'Montserrat', 'Corbel', 'source-sans-pro', sans-serif; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    text-decoration: none;
    transition-timing-function: ease-out;
    transition-duration: var(--transition-duration);
    transition-property: transform;
}


.custom-gumroad-button:hover {
    background-color: rgba(var(--secondary)); /* Light background on hover */
    color: rgb(var(--contrast-primary)); /* White text on hover */
    transform: scale(1.08); /* Slight scale on hover */
}

.icon-size {
    width: 50px;
    height: 50px;
    padding: 10px;
}