@font-face {
    font-family: 'DosisBold'; /* Give a name to your font */
    src: url('Dosis-Bold.ttf'); /* Path to your font file */
}

@font-face {
    font-family: 'DosisMedium'; /* Give a name to your font */
    src: url('Dosis-Medium.ttf'); /* Path to your font file */
}

body, .container, .hero-body, .footer, p{ 
    background-color: #feffff;
    color: #0D0D0D;
    /* color: #0D0Dff; */
}

.title {
    font-family: 'DosisBold', sans-serif;
    font-size: calc(16px + 9vw); /* Starts at 16px and grows with the viewport, adjust as needed */
}

.subtitle{
    font-family: 'DosisMedium', sans-serif; /* Fallback to sans-serif if the custom font can't be loaded */
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Override Bulma's dark mode variables with light mode values */
        --bulma-background: #ffffff;
        --bulma-text: #363636;
        /* Add more variables as needed */
    }

    /* Your additional overrides for specific elements if Bulma's variables are not enough */
    body {
        background-color: var(--bulma-background);
        color: var(--bulma-text);
    }
}

.button.is-warning,
.button.is-warning:hover,
.button.is-warning:focus,
.button.is-warning:active {
    background-color: #000000; /* Black background */
    border-color: #000000; /* Black border */
    color: #ffffff; /* White text */
}

.button.is-warning:hover,
.button.is-warning:focus,
.button.is-warning:active {
    background-color: #3fc8f2; /* Light blue background on hover, focus, and active */
    border-color: #3fc8f2; /* Light blue border on hover, focus, and active */
    color: #ffffff; /* Ensure text stays white */
}